<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.wimika.moneyguard" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>moneyguard</name><js-module name="moneyguard" src="www/moneyguard.js"><clobbers target="cordova.plugins.moneyguard" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="moneyguard"><param name="android-package" value="com.wimika.moneyguard.moneyguard" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/moneyguard.java" target-dir="src/com/wimika/moneyguard/moneyguard" /></platform></plugin>