<ion-header [translucent]="true">
  <ion-content [fullscreen]="true">
    <div id="container">
      <strong>Money Guard Ionic!!</strong>
      <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
          href="https://ionicframework.com/docs/components">UI Components</a></p>
      <ion-button (click)='moveCredential()' expand="full">CREDENTIAL CHECK</ion-button>
      <ion-button (click)='moveDebit()' expand="full">DEBIT CHECK</ion-button>
      <ion-button (click)='getSessionData()' expand="full">GET RISK PROFILE</ion-button>
      <ion-button (click)='getSessionData()' expand="full">MATCH TYPING PROFILE</ion-button>
    </div>
  </ion-content>